<%# app/views/plugs/_delete_plug.html.erb %>

<div class="modal-footer">
    <%= link_to object, method: :delete, class: "btn button-save" do %>
        <span class="glyphicon glyphicon-ok" aria-hidden="true">
    <% end %>
    <button type="button" class="btn button-cancel" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
</div>
